/*RESET*/
*{
    margin: 0;
    padding: 0;
    box-sizing: content-box;
}
body{
    background-color: rgb(231, 231, 231);
}

header{
    height: 120px;
    background-color: white;
}

hr {
    margin-top: 18px;
    border: none;
    height: 1px;
    background-color: lightgray;
}
.main-logo{
    height: 120px;
}

.logo {
    display: inline-block;
    height: 100%;
    vertical-align: bottom;
    margin-right: .5rem;
}

.title{
    display: inline-block;
    font-size: 4em;
    line-height: 120px;
}

.main-container{
    background-color: white;
    width: 70%;
    height: 1050px;
    margin: auto;
    margin-top: 80px;
    border-radius: 1rem;
}

.add-task{
    color: white;
    margin-left: 44px;
    height: 40px;
    width: 120px;
    text-align: center;
    margin-top: 20px;
    font-size: 1.2em;
    display: inline-block;
    border-radius: 6px;
    line-height: 40px;
    background-color: lightskyblue;
}

.add-section{
    color: lightgray;
    margin-left: 15px;
    height: 40px;
    width: 130px;
    text-align: center;
    margin-top: 20px;
    font-size: 1.2em;
    display: inline-block;
    border-radius: 6px;
    line-height: 40px;
    border: 1px solid lightgray;
}