/*RESET*/
*{
    margin: 0;
    padding: 0;
    box-sizing: content-box;
}
body{
    background-color: rgb(231, 231, 231);
}

header{
    height: 120px;
    background-color: white;
}

hr {
    margin-top: 18px;
    border: none;
    height: 1px;
    background-color: lightgray;
}

.white-text{
    color:white
}

.light-blue{
    background-color: lightskyblue;
}

.purple {
    background-color: purple;
}

.orange {
    background-color: orange;
}

.green {
    background-color: green;
}

.pink {
    background-color: violet;
}

.lime {
    background-color: limegreen;
}

.main-logo{
    height: 120px;
}

.logo {
    display: inline-block;
    height: 100%;
    vertical-align: bottom;
    margin-right: .5rem;
}

.title{
    display: inline-block;
    font-size: 4em;
    line-height: 120px;
}

.main-container{
    background-color: white;
    width: 70%;
    height: 1050px;
    margin: auto;
    margin-top: 80px;
    border-radius: 1rem;
}

.add-task {
    margin-left: 45px;
    height: 40px;
    width: 120px;
    text-align: center;
    margin-top: 20px;
    font-size: 1.2em;
    display: inline-block;
    border-radius: 6px;
    line-height: 40px;
}

.add-section{
    color: lightgray;
    margin-left: 15px;
    height: 40px;
    width: 130px;
    text-align: center;
    margin-top: 20px;
    font-size: 1.2em;
    display: inline-block;
    border-radius: 6px;
    line-height: 40px;
    border: 1px solid lightgray;
}

.schedule{
    font-weight: 600;
    margin-left: 45px;
    margin-top: 45px;
}

.symbol{
    border-radius: 50%;
    border: 1px solid;
    background-color: white;
    margin-top: 5px;
    margin-right: 5px;
    margin-left: 45px;
    display: inline-block;
    height: 20px;
    width: 20px;
    text-align: center;

}

.check{
    border-color: green;
    color: green;
}

.cross{
    border-color: red;
    color: red;
}

.task-type{
    display: inline-block;
    height: 30px;
    width: 80px;
    text-align: center;
    line-height: 30px;
    margin-left: 5px;
    margin-bottom: 20px;
    border-radius: 15px;
}
